@font-face {
    font-family: avn;
    src: url("../fonts/aveniernext/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: has;
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: pb;
    src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: p;
    src: url("../fonts/poppins/Poppins-Medium.ttf");
}

body {
    background-color: #2F354B;
    color: white
    /*r*/
}
::placeholder { 
    color:#fff;
}
input {
    background-color: rgba(34, 38, 55, 0.9);
}

.line {
    background-color: #fff;
    height: 2px;
}

.button {
    background-color: #006BFF;
    border: none;
    padding: 10px;
    color: #fff;
    font-family: 'avn';
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

button {
    border-radius: 20px;
}

.svg {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.center {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

svg {
    width: 100%;
}

.rounded {
    position: relative;
    margin: auto;
    top: 170px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60%;
}

.blg {
    visibility: show;
    width: 50%;
    
}

.bls {
    width: 50%;
}

@media only screen and (max-width:700px) {
    .blg {
        display: none;
        width: 0%;
    }
    .bls {
        width: 100%;
    }
}

.body {
    width: 80%;
    height: 70vh;
    position: relative;
    margin: auto;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    font-family: 'p';
}

/* * { */
    color: #fff;
    outline: none;
}
.bls .down{
    color: rgb(41, 33, 66);
    border: 2px solid red;
    position: absolute;
}